language: php

branches:
  only:
    - master
    - develop

php:
  - 7.0 
  - 7.1
  - 7.2

env:
  - TESTBENCH_VERSION="3.4.*" PHPUNIT_VERSION="5.7.*" # Laravel 5.4
  - TESTBENCH_VERSION="3.5.*" PHPUNIT_VERSION="6.0.*" # Laravel 5.5
  - TESTBENCH_VERSION="3.6.*" PHPUNIT_VERSION="7.0.*" # Laravel 5.6

install:
  - travis_retry composer self-update
  - travis_retry composer require orchestra/testbench:${TESTBENCH_VERSION} phpunit/phpunit:${PHPUNIT_VERSION}
  - travis_retry composer install --no-interaction

script:
  - vendor/bin/phpunit --coverage-clover=coverage.xml

after_success:
  - bash <(curl -s https://codecov.io/bash) 
