includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: 0
    paths:
        - %currentWorkingDirectory%/src/
    excludes_analyse:
        - %currentWorkingDirectory%/src/macros/*
